version: "3.9"

services:

  mlflow:
    image: ghcr.io/mlflow/mlflow
    ports:
      - "5030:5030"
    volumes:
      - ./mlruns:/mlruns
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5030
      --backend-store-uri sqlite:////mlruns/mlflow.db
      --default-artifact-root /mlruns

  api:
    build:
      context: .
      dockerfile: src/api/Dockerfile
    ports:
      - "8000:8000"
    env_file: .env
    volumes:
      - ./models:/app/models
    environment:
      - COLLECT_SCRIPT=/app/src/scripts/acquire_data.py
    depends_on:
      - mlflow

  dashboard:
    build:
      context: .
      dockerfile: src/dashboard/Dockerfile
    ports:
      - "8501:8501"
    env_file: .env
    environment:
      - API_URL=http://api:8000
    depends_on:
      - api